@media (max-width: 500px) {
  header h1 {
    font-size: 4rem;
    line-height: 4.7rem;
  }

  .navbar {
    width: 95vw;
  }

  .hero {
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .profile {
    flex-direction: column;
    align-items: center;
  }
}
