@media (min-width: 501px) and (max-width: 1024px) {
  header h1 {
    font-size: 5.4rem;
    line-height: 4.7rem;
  }

  .hero {
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar {
    width: 95vw;
  }
}
