* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

.background-space {
  background-image: radial-gradient(circle, #f00, #00ff00, #00f);
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50rem;
  height: 35rem;
  border: #bba65e 2px solid;
  border-top: none;
  border-radius: 0 0 10px 10px;
  background-color: #fffae8;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0000005f;
  width: 100vw;
  height: 100vh;
}

header h1 {
  font-size: 7rem;
}

.navbar {
  background-image: radial-gradient(circle, #6d0000, #640000, #4a0000);
  width: 50rem;
  padding: 0.6rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #310000 2px solid;
  border-radius: 10px 10px 0 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}
