* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

.background-space {
  background-image: radial-gradient(circle, #f00, #0f0, #00f);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 50rem;
  height: 100rem;
  border-radius: 8px;
  background-color: #c7c7c7;
}

header h1 {
  font-size: 10rem;
}

.navbar {
  background-color: #3e0f0f;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}
